Notification {
	color:			#000000;
	background:		#eaeaea;

	border:			1px solid transparent;
	border-image:		url(menu.png) 1;
}

QLabel {
	color:			#000000;
}

#closeButton {
	border:			1px solid transparent;

	qproperty-icon:		url(lxqt-notificationd/cancel.svg);
	qproperty-iconSize:	16px;

	padding:		0px;
}

#closeButton:hover {
	border-image:		url(menu.png) 1;
}

#closeButton:pressed {
	border-image:		url(active.png) 1;
}

#appLabel {
	font-weight:		bold;
}
